name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always
  PDFIUM_DYNAMIC_LIB_PATH: /usr/lib

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install PDFium native library
        run: |
          wget https://github.com/bblanchon/pdfium-binaries/releases/latest/download/pdfium-linux-x64.tgz
          tar -xzf pdfium-linux-x64.tgz
          sudo cp lib/libpdfium.so /usr/lib/

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

